<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中階實作 - 企業級表單綁定與動態錯誤提示</title>
</head>
<body>
    <form th:action="@{/admin/products}" th:object="${products}" method="post">
        <label>產品名稱 :</label>
        <input type="text" th:field="*{name}">

        <label>產品價格 :</label>
        <input type="number" th:field="*{price}">
    </form>
</body>
</html>